/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header,footer {
     height: 200px;
     border: 2px solid black;
     clear: both;
}

section {
     height: 300px;
     width: 33.3333%;
     float: left;
     border: 2px solid black;
}

@media (max-width: 800px) {
     section {
          background-color: turquoise;
     }
}

@media (hover: hover) {
     header:hover {
          background-color: black;
     }
}

@media (hover: hover) {
     footer:hover {
          background-color: yellow;
     }
}

@media (hover: hover) {
     section:hover {
          background-color: brown;
     }
}

@media (hover: hover) {
     section + section + section:hover {
          background-color: blueviolet;
     }
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
