/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header,footer {
     height: 200px;
     border: 2px solid black;
     clear: both;
}

section {
     height: 300px;
     width: 33.3333%;
     float: left;
     border: 2px solid black;
}

*{
     font-size: 50px;
     text-align: center;
}

span {
     margin: 0 auto;
}

@media (min-width:1400px) and (max-width:1600px) {
     header {
          background: red;
     }
}

@media (min-width:1200px) and (max-width:1400px) {
     .left {
          background: orange;
     }
}

@media (min-width:1000px) and (max-width:1200px) {
     .middle {
          background: yellow;
     }
}

@media (min-width:800px) and (max-width:1000px) {
     .right {
          background: green;
     }
}

@media (min-width:600px) and (max-width:800px) {
     footer {
          background: blue;
     }
}

@media (hover: hover) {
     header:hover {
          background: black;
     }
}

@media (hover: hover) {
     footer:hover {
          background: yellow
     }
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
