/******************************************
/* HOT GARBAGE - PLEASE DON'T MIMIC THIS CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
h1, h2{
  text-align: center;
}
img{
  display: block;
  height: 300px;
  margin: 0 auto;
}
ul{
  width: 200px;
  height: 265px;
  border: 3px solid black;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}
li{
  width: 194px;
  height: 65px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

#red {
  background-color: red;
}
#blue {
  background-color: blue;
}
#green {
  background-color: green;
}
#orange {
  background-color: orange;
}
